.picture {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.curtain {
    display: inline-block;
    background-color: #ddd1;
    background-image: linear-gradient(to bottom right, hsla(260, 10%, 15%, 0.4), hsla(60, 25%, 20%, 0.2));
    position: absolute;
    width: 120%;
    height: 120%;
    transform-origin: top;
    backdrop-filter: blur(4px);
    transition: ease-in-out 1.5s;
    box-shadow: inset -1px 0 25px 3px #aba2;
    z-index: 1;
}

.button {
    display: grid;
    place-items: center;
    background-color: #7775;
    background: linear-gradient(to bottom right, #aaa7, #8883);
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.container.on .button {
    cursor: default;
}
span {
    cursor: inherit;
    text-transform: uppercase;
    position: absolute;
}

.container {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, hsl(260, 5%, 15%), hsl(60, 5%, 20%));
}
    /* three main divs*/
    .container > div {
        display: grid;
        width: 84%;
        margin-left: 8%;
        background: var(--body-dark);
        box-shadow: inset -2px -3px 10px #ded3,
                    inset -1px -1px 6px #aba5,
                    inset 0px -0px 20px 10px #7c72;
        overflow: hidden;
        border-radius: 4px;
        transition: ease-out 1s;
    }
    .container.on > div {
        box-shadow: inset -3px -2px 10px #ded3,
                    inset -2px -1px 6px #aba5,
                    inset 0px -0px 20px 10px #7c72;
    }
    /* header */
    .container .header {
        grid-template-columns: 33fr 37fr 30fr;
        height: 21vh;
        margin-top: 3vh;
        margin-bottom: 1vh;
        border-radius: 1rem 1rem 4px 4px;
    }
    .container.on .header {
        margin-top: 4vh;
        margin-bottom: 0;
    }
    /* main */
    .container .main {
        grid-template-columns: 8fr 72fr 30fr;
        grid-template-rows: 88fr 12fr;
        width: 80%;
        margin-left: 10%;
        height: 54vh;
    }
    .container.on .main {
        box-shadow: inset -1px -1px 10px #aba3,
                    inset -1px -1px 6px #5655,
                    inset -1px -1px 15px 15px #5752;
    }
    /* bottom */
    .container .bottom {
        height: 18vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
        border-radius: 4px 4px 1rem 1rem;
    }
    .container.on .bottom {
        margin-top: 0;
        margin-bottom: 2vh;
    }